# nginx rewrite rule

# apache rewrite rule
RewriteEngine On
RewriteCond $1 !^(index\.php)
RewriteRule ^guest/s/([^/]*)/(.*)$ index.php?site=$1&$2&mode=portal [QSA]
RewriteRule ^admin/([^/]*)/([^/]*)(.*)$ index.php?mode=admin&ctrl=$1&func=$2$3 [QSA]


